:root {
    --event-width: 10rem;
    --event-height: 10rem;
}

.eventline {
    position: absolute;
    border-left: var(--input-border-color) 1px solid;
    top: var(--main-line-top);
    box-shadow: 0px 0px 4px var(--input-border-color);
}

.eventtext {
    position: absolute;
    width: calc(var(--event-width));
    height: calc(var(--event-height));
    cursor: pointer;
    font-size: small;
    /* transition: all 0.2s; */
    overflow: auto;
    z-index: 2;
}

.eventtext:hover {
    z-index: 4;
}