:root {
    --event-width: 10rem;
    --event-height: 10rem;
}

.eventline {
    position: absolute;
    border: var(--border-color) 1px solid;
}

.eventtext {
    position: absolute;
    width: calc(var(--event-width) - 10px);
    height: calc(var(--event-height) - 10px);
    border-radius: 0.5rem;
    border: var(--border-color) 1px solid;
    background-color: var(--background-color-mod-1);
    cursor: pointer;
    padding: 5px;
    font-size: small;
    transition: all 1s;
    overflow: auto;
    z-index: 2;
}
