.add-event {
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: x-large;
    text-align: center;
    border-radius: 100%;
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    background-color: var(--primary-color);
    transition: all 0.25s;
    cursor: pointer;
}

.add-event:hover {
    background-color: var(--primary-color-mod-1);
}

.add-event:active {
    background-color: var(--primary-color-mod-2);
}

.event-edit {
    height: 500px;
    width: 600px;
    border: var(--border-color) 1px solid;
    border-radius: 0.5rem;
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.25s;
}

.event-edit-container {
    z-index: 10;
}

.event-edit > label {
    padding-top: 10px;
}

.event-edit > input, .event-edit > select {
    border-radius: 0.20rem;
    border: 1px var(--border-color) solid;
    padding: 4px;
    background-color: var(--background-color-mod-1);
}

.event-edit > .actions > button:hover {
    background-color: var(--primary-color-mod-1);
}

.event-edit > .actions > button:active {
    background-color: var(--primary-color-mod-2);
}

.event-edit > .actions > button {
    max-width: 100px;
    margin-right: 10px;
    border-radius: 0.20rem;
    border: 1px var(--border-color) solid;
    padding: 4px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s;
}

.event-edit > .error {
    color: var(--error-color);
    padding: 10px;
}

.event-edit > .actions {
    margin-top: 15px;
    display: flex;
}

.event-edit > input:focus {
    outline: none;
}
