.add-event {
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: x-large;
    text-align: center;
    border-radius: 100%;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    /* transition: all 0.25s; */
    cursor: pointer;
}

.add-event:hover {
    background-color: var(--primary-color-mod-1);
}

.add-event:active {
    background-color: var(--primary-color-mod-2);
}

.event-edit {
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    transition: all 0.25s;
}

.event-edit-container {
    z-index: 10;
}

.event-edit > label {
    padding-top: 10px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-bottom: .25rem;

}

.event-edit > input, .event-edit > div > input, .event-edit > select {
    border-radius: 0.25rem;
    border: 1px var(--input-border-color) solid;
    padding: 0.4rem;
    /* box-sizing: border-box; */
    appearance: none;
    line-height: 1.2;
    background-color: var(--background-color-mod-1);
}

.event-edit > input:focus {
    border-color: var(--primary-color);
    border-width: 2px;
    padding: calc(0.4rem - 1px);
}

.event-edit > .actions > button, .event-edit > button {
    margin-right: 10px;
}

.event-edit > .error {
    color: var(--error-color);
    padding: 10px;
}

.event-edit > .actions {
    margin-top: 15px;
    display: flex;
}

.event-edit > input:focus {
    outline: none;
}

.BC-AD-btn {
    margin-left: 10px;
    font-family: inherit;
    /* width: 3rem; */
}