.event-view {
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    transition: all 0.25s;
    word-wrap: break-word;
    overflow-y: auto;
}

.event-view-container {
    z-index: 6;
}

.event-view > .name {
    padding-bottom: 10px;
}

.event-view > .actions > button {
    margin-right: 10px;
}

.event-view > .actions {
    margin-top: 15px;
    display: flex;
}

.concurrent-events > ul {
    margin-top: 1px;
}

.concurrent-events {
    margin-top: 10px;
}